@import "../../styles/global.css";

.container {
  height: 100vh;
  width: 100%;
}

.marker {
  color: var(--color-text-white);
  width: 32px;
  height: 32px;
  background-color: var(--color-dark-grey);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
  font-size: 1rem;
  font-weight: 500;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: var(--main-font);
}
